tqdm 
opencv-python
httpx==0.13.3 
ffmpegcv 
numpy 
python_speech_features 
scipy 
scenedetect 
scikit-learn 
gdown 
torch==2.4.1
torchvision 
pandas 
transformers 
accelerate 
datasets 
google-generativeai
pysubs2 
boto3 
fastapi[standard] 
whisperx 
indic-transliteration 
googletrans==4.0.0-rc1 --extra-index-url https://download.pytorch.org/whl/cu124